<ul class="vertical-nav-menu">
    <li class="app-sidebar__heading">{{ 'navbar.dashboard'|trans }}</li>
    <li>
        <a href="{{ url('app_homepage_i18n', {locale: app.locale}) }}">
            <i class="metismenu-icon pe-7s-rocket"></i>
            {{ 'navbar.home'|trans }}
        </a>
    </li>
    <li>
        <a href="#">
            <i class="metismenu-icon pe-7s-user"></i>
            {{ 'navbar.users.title'|trans }}
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
        </a>
        <ul>
            <li>
                <a href="{{ url('app_user_list', {locale: app.locale}) }}">{{ 'navbar.users.list'|trans }}</a>
            </li>
            <li>
                <a href="#!">{{ 'navbar.users.create'|trans }}</a>
            </li>
        </ul>
    </li>
</ul>